*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: #eee;
    background:
    linear-gradient(135deg,
      rgba(128, 47, 95, 0.14),
      rgba(10, 49, 70, 0.13)
    ),url("../images/bg1.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: relative;
  font-weight: 400;
  line-height: 1.2;
  color: #222;
}

.section-center {
  /* width: 550px;
  margin: 250px auto;
  max-width: 70rem;
   background: rgba(238, 237, 237, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow:
     0 -10px 100px rgba(20,20,20,1),
  0 30px 100px rgba(0,0,0,1);
  border: 2px solid rgba(255, 254, 254, 0.4);
  border-radius: 1.9rem;
  padding: 3rem;
  position: relative; */
  position: relative;
  margin: 250px auto;
  width: 550px;
  max-width: 70rem;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(14px) saturate(120%);
  -webkit-backdrop-filter: blur(14px) saturate(120%);

  border-radius: 20px;
  padding: 20px 24px;

  box-shadow:
    0 8px 25px rgba(0,0,0,.25),
    0 40px 100px rgba(0,0,0,.25);

  border: 1.5px solid rgba(255,255,255,.25);
}