*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: #eee;
    background:
    linear-gradient(135deg,
      rgba(128, 47, 95, 0.14),
      rgba(10, 49, 70, 0.13)
    ),url("../images/bg1.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: relative;
  font-weight: 400;
  line-height: 1.2;
  color: #222;
}

.section-center {
  position: relative;
  margin: 250px auto;
  width: 550px;
  max-width: 70rem;
  padding: 20px 24px;

  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(14px) saturate(120%);
  -webkit-backdrop-filter: blur(14px) saturate(120%);
  
  border-radius: 20px;
  border: 1.5px solid rgba(255,255,255,.25);

  box-shadow:
    0 8px 25px rgba(0,0,0,.25),
    0 40px 100px rgba(0,0,0,.25);

}